body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
[class*="col-"]{
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.header{
    height: 200px;
    background-color: #034363;
}
h1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/01/Ede_vanaf_de_noordzijde.jpg);
    background-size: contain;
    height: 130px;
    background-repeat: no-repeat;
    padding: 15px;
    margin-left: 15px;
}
li{
    padding: 15px;
}
#weetjes{
    background-color: #0082c2;
    color:white;
    height: auto;
}
.right{
    background-color: #d3f0ff;
}
article{
    height: auto;
    padding: 15px;
}
.footer{
    height: 100px;
    background-color: #034363;
    color: white;
}
img{
    height: 100px;
    width: auto;
    float: right;
    padding: 15px;
}
